
  <app-header></app-header>
 <div class="example-container"> 
  <marquee behavior="scroll" direction="up" scrollamount="5" class="nav-span" onmouseover="this.stop();" onmouseout="this.start();"><p>
    Do Start Work On Your Health And Yourself.<br>
    Do Something for Your Personal Growth.<br>
    Sometimes "Tomorrow" Play A Role For "Never"
  </p></marquee>
</div>
  <div fxLayoutAlign="center center" class="form-div">
    <mat-card fxFlex="25">
        <form fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field >
              <mat-label>User Name</mat-label>
              <input matInput placeholder="Ex.sumit@gym.com">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input type="password" matInput placeholder="Ex.Zees@1234">
            </mat-form-field>
            <button mat-raised-button type="submit" color="primary">Login</button>
            <div><a href="" class="anchorLink">New user?</a><a href="">Forgot Password?</a></div>
          </form>
    </mat-card>
</div>
<app-footer></app-footer>